main {
    width: 80%;
    display: flex;
    margin: 30px;
}
nav {
    width: 20%;
background-color: powderblue;
margin: 10em;
border: 10px solid olivedrab;
}
section {
    width: 80%;
    background-color: coral;
    margin: 5em;
}
body {
    background-color: gainsboro;
    columns: 40em;
}